<div class="row" >
    <div class="login_back text-center" ng-keypress="onKeyPress($event)">
        <a href="#"><img  class="mb-4" src="assets/images/white_logo_2.png"></a>
            <br/>
            <span style="color:red; text-align:left;white-space: pre-line;">{{err_message}}</span>
            <fieldset>
                <!-- Name input-->
                <div class="form-group text-left">
                    <div class="col-12 no-padding position_rel">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Your Email" class="form-control pl-4" ng-model="auth.email">                      
                    </div>
                </div>
                <!-- Email input-->
                <div class="form-group text-left">
                    <div class="col-12 no-padding position_rel">
                        <i class="fa fa-lock"></i>
                        <input id="password" name="password" type="password" placeholder="Your Password" ng-model="auth.password" class="form-control pl-4">                         
                    </div>
                </div>
                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-12 widget-right float-left no-padding mb-2">
                        <button type="submit" class="btn btn-danger w-100 float-right" ng-click="auth.login()">Login</button>
                    </div>
                </div>
            </fieldset>
    </div>
</div>
