<section class="row" ng-init="whitelabel.getWhiteLabel();">   
    <div class="col-sm-12 col-md-6">
         <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block">               
                <form class="form-horizontal" action="" method="post" name="createRole" >
                    <fieldset>
                        <div class="form-group">                            
                            <div class="col-12 no-padding">
                                <input id="rolename" name="servername" ng-model="servername" type="text" placeholder="Server Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-12 no-padding">
                                <input id="rolename" name="whitelabels" ng-model="whitelabels" type="text" placeholder="Whitelabels" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-12 no-padding">
                                <input id="rolename" name="groups" ng-model="groups" type="text" placeholder="Groups" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-12 no-padding">
                                <input id="rolename" name="botime" ng-model="botime" type="text" placeholder="Bo Time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-12 no-padding">
                                <input id="rolename" name="fxtime" ng-model="fxtime" type="text" placeholder="Fx Time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-12 no-padding">
                                <input id="rolename" name="email" ng-model="emails" type="text" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        
                        
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">

                                <button type="reset" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="saveWhiteLabel()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
