<section class="row" ng-init="role.getRole();">
    <div class="col-sm-12 col-md-6">
        <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block">               
                <form class="form-horizontal" action="" method="post" name="createRole" >
                    <fieldset>
                        <div class="form-group">
                            <!-- <label class="col-12 control-label no-padding" for="name">Name</label> -->

                            <div class="col-12 no-padding">
                                <input id="rolename" name="username" ng-model="rolename" type="text" placeholder="Role Name" class="form-control">
                            </div>
                        </div>
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">
                                <button type="reset" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="saveRole()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
