<section class="row" ng-init="server.getServer();server.getGateways();">
    <div class="col-sm-12 col-md-6">
        <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block">         
                <form class="form-horizontal" action="" method="post" name="createRole" >
                    <fieldset>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Server Name</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="servername" autocomplete="off" ng-model="servername" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">IP Address</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="ipaddress" autocomplete="off" ng-model="ipaddress" type="text" class="form-control">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">User Name</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="username" autocomplete="off" ng-model="username" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Password</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="password" autocomplete="off" ng-model="password" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Database Name</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="databasename" autocomplete="off" ng-model="databasename" type="text" class="form-control">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Master ID</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="masterid" autocomplete="off" ng-model="masterid" ng-value="masterid" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Port</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="port" autocomplete="off" ng-model="port" ng-value="port" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">MT4 Api</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="mt4api" autocomplete="off" ng-model="mt4api" ng-value="mt4api" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Select Gateway</label>
                            <div class="col-12 no-padding"> 
                                <select class="form-control pageList" name="gatwayid" required="" ng-model="gateway_id">
                                    <option ng-value = "" label = "Gateway ID"></option>
                                    <option ng-repeat="usr in server.gateways" ng-selected ="usr.id == gateway_id" value="{{usr.id}}">{{usr.name}}</option>
                                </select>                                
                            </div>
                        </div>
                        
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">

                                <button type="reset" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="saveServer()">Submit</button>
                            </div>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
