<section class="row" ng-init="server.getServer();server.getGateways();">
    <div class="col-sm-12 col-md-6">
        <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block">         
                <form class="form-horizontal" action="" method="post" name="createRole" >
                    <fieldset>
                        <div class="form-group">
                            <div class="col-12 no-padding">
                                <input id="rolename" name="servername" ng-model="servername" type="text" placeholder="Server Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 no-padding">
                                <input id="rolename" name="ipaddress" ng-model="ipaddress" type="text" placeholder="IP Address" class="form-control">
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-12 no-padding">
                                <input id="rolename" name="username" ng-model="username" type="text" placeholder="User Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 no-padding">
                                <input id="rolename" name="password" ng-model="password" type="text" placeholder="Password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 no-padding">
                                <input id="rolename" name="databasename" ng-model="databasename" type="text" placeholder="Database Name" class="form-control">
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-12 no-padding">
                                <input id="rolename" name="masterid" ng-model="masterid" ng-value="masterid" type="text" placeholder="Master ID" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 no-padding"> 
                                <select class="form-control pageList" name="gatwayid" required="" ng-model="gateway_id">
                                    <option ng-value = "" label = "Gateway ID"></option>
                                    <option ng-repeat="usr in server.gateways" ng-selected ="usr.id == gateway_id" value="{{usr.id}}">{{usr.name}}</option>
                                </select>                                
                            </div>
                        </div>
                        
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">

                                <button type="reset" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="saveServer()">Submit</button>
                            </div>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
