<section class="row"  ng-init="user.getServers();user.getUser();">
    <div class="col-sm-12 col-md-6">
        <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block"> 

                <form class="form-horizontal" action="" method="post" name="createUser" >
                    <fieldset>
                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Manager Id</label>
                            <div class="col-12 no-padding">
                                <input id="fullname" name="manager_id"  autocomplete="off" ng-model="manager_id" type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">User Name</label>
                            <div class="col-12 no-padding">
                                <input id="username" name="username" autocomplete="off" ng-model="username" type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="email">Email</label>
                            <div class="col-12 no-padding">
                                <input id="email" name="email" autocomplete="off" ng-model="email"  type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        
                        <!-- group input-->
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="email">Group</label>
                            <div class="col-12 no-padding">
                                <input id="groups" name="groups" autocomplete="off" ng-model="groups"  type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="email">Password</label>
                            <div class="col-12 no-padding">
                                <input id="password" name="password"  autocomplete="off" ng-model="password" type="password" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="email">Confirm Password</label>
                            <div class="col-12 no-padding">
                                <input id="confirmpassword" autocomplete="off" ng-model="confirmpassword" name="confirmpassword" type="password" placeholder="" class="form-control">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="email">Choose server</label>
                                <div class="row">
                                     <div class="col-md-4 float-left" ng-repeat="ser in servers"> 
                                        <input type="checkbox" ng-checked="ser.checked" ng-model="ser.checked" value="{{ser.id}}" ng-change="change(ser.id, this)" />
                                        <label for="box1">{{ser.servername}} </label>
                                    </div>    
                                </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">

                                <button type="button" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="createUsers()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
