<section class="row" ng-init="whitelabel.getWhiteLabel();">   
    <div class="col-sm-12 col-md-6">
         <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block">               
                <form class="form-horizontal" action="" method="post" name="createRole" >
                    <fieldset>
                        <div class="form-group">           
                            <label class="col-12 control-label no-padding" for="name">Server Name</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="servername" autocomplete="off" ng-model="servername" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">      
                            <label class="col-12 control-label no-padding" for="name">Whitelabels</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="whitelabels" autocomplete="off" ng-model="whitelabels" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">     
                            <label class="col-12 control-label no-padding" for="name">Groups</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="groups" autocomplete="off" ng-model="groups" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">       
                            <label class="col-12 control-label no-padding" for="name">Bo Time</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="botime" autocomplete="off" ng-model="botime" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">    
                            <label class="col-12 control-label no-padding" for="name">Fx Time</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="fxtime" autocomplete="off" ng-model="fxtime" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"> 
                            <label class="col-12 control-label no-padding" for="name">Email</label>
                            <div class="col-12 no-padding">
                                <input id="rolename" name="email" autocomplete="off" ng-model="emails" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        
                        
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">

                                <button type="reset" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="saveWhiteLabel()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
