<section class="row"  ng-init="permission.getPermission()">
    <div class="col-sm-12 col-md-6">
        <span style="color:red; white-space: pre-line;">{{err_message}}</span>
        <div class="card mb-4">
            <div class="card-block">               
                <form class="form-horizontal" action="" method="post" name="createPermission" >
                    <fieldset>
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Permission</label>

                            <div class="col-12 no-padding">
                                <input id="rolename" name="permissionname" autocomplete="off" ng-model="permissionname" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-12 control-label no-padding" for="name">Select Permission Type</label>

                            <div class="col-12 no-padding">
                                <select class="form-control" ng-model="user_type">
                                    <option ng-selected="user_type == 0" value="">Select Type</option>
                                    <option ng-selected="user_type == item.id" ng-repeat="item in types" ng-value="item.id">{{item.name}}</option>
                                </select>
                                
                            </div>
                        </div>
                        
                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-12 widget-right no-padding">

                                <button type="reset" class="btn btn-info btn-md float-right" ng-click="resetData()">Reset</button>
                                <button type="button" class="btn mr-2 btn-primary btn-md float-right" ng-click="savePermission()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>
