<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"  ng-init="dashboard.getUsers()">
    <div class="card mb-4">
        <div class="card-block">           
            <a ui-sref="createUser()" class="btn btn-primary mb-4">Create User </a>
            <span style="color:green">{{succ_message}}</span>
            <span style="color:red">{{err_message}}</span>
            <div id="no-more-tables" class="table-responsive">               
                <table  class="table table-striped cf">
                    <thead class="cf">
                        <tr> 
                            <th>S. no.</th>
                            <th>Manager ID</th>
                            <th>Name</th>
                            <th>Groups</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr ng-repeat="usr in dashboard.users">
                           <td>{{$index+1}}</td>
                           <td>{{usr.manager_id}}</td>
                            <td>{{usr.name}}</td>
                            <td>{{usr.groups}}</td>
                            <td>
                                <a href="home#!/createUser?userid={{usr.id}}"  class="btn btn-sm btn-primary">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </a>
                                <a href="home#!/userPermission?userid={{usr.id}}" class="btn btn-sm btn-info"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    Edit Role</a>
                                <a ng-click="delete(usr.id)"  class="btn btn-sm btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>                       
                    </tbody>
                </table>
                <div ng-show="showLoader" ng-include="'views/loader.html'"></div>
            </div>
        </div>
    </div>
</div>
