<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"  ng-init="dashboard.getUsers()">
    <div class="card mb-4">
        <div class="card-block">           
            <a ui-sref="createUser()" class="btn btn-primary mb-4">Create User </a>
            <div id="no-more-tables" class="table-responsive">               
                <table  class="table table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th>S. no.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr ng-repeat="usr in dashboard.users">
                            <td>{{usr.id}}</td>
                            <td>{{usr.name}}</td>
                            <td>{{usr.email}}</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-info"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    Edit permission</a>
                                <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
